<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Stackexchange_Magento84352>
            <version>1.0.0</version>
        </Stackexchange_Magento84352>
    </modules>
    <global>
        <models>
            <magento84352>
                <class>Stackexchange_Magento84352_Model</class>
            </magento84352> 
        </models>
        <blocks>
            <magento84352>
                <class>Stackexchange_Magento84352_Block</class>
            </magento84352>   
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Stackexchange_Magento84352_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        
    </global>
    <adminhtml>
    <events>
        <adminhtml_widget_container_html_before>
            <observers>
                <your_module>
                    <class>magento84352/observer</class>
                    <type>singleton</type>
                    <method>adminhtmlWidgetContainerHtmlBefore</method>
                </your_module>
            </observers>
        </adminhtml_widget_container_html_before>
    </events>
</adminhtml>
<!-- another events may which remove button from grid -->

<adminhtml>
    <events>
        <core_block_abstract_prepare_layout_before>
            <observers>
                <remove_cancel_from_grid>
                    <type>singleton</type>
                    <class>magento84352/observer</class>
                    <method>removeButtoncancel</method>
                </remove_cancel_from_grid>
            </observers>
        </core_block_abstract_prepare_layout_before>
    </events>
</adminhtml>
</config>